<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <title>Formulario Categoría</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav class="navbar">
            <div>
                <a href="../../index.php"> <img class="logo" src="/assets/img/logo.png" alt="ícono tienda"> </a>
            </div>
            <div>
                <ul class="navbar_list">
                    <li>
                        <a href="../../index.php">Inicio</a>
                    </li>
                    <li>
                        <a href="/backend/views/form_categorias.html">Alta de categorias</a>
                    </li>
                    <li>
                        <a href="/backend/views/form_productos.html">Alta de productos</a>
                    </li>
                    <li>
                        <a href="/backend/views/lista_categorias.php">Lista Categorías</a>
                    </li>
                    <li>
                        <a href="/backend/views/lista_productos.php">Lista Productos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <h2 class="title_form">Formulario de alta de categorías</h2>

    <form id="formularioCategoria" class="form" method="post" action="../categorias.php">

        <fieldset class="fieldset">
            <legend>Ingresa la nueva categoría</legend>
            <p>Todos los campos que contengan un <span>*</span> son obligatorios</p>

            <div class="form_container">
              

                <div class="form_content">
                    <label for="categoria">Categoría<span>*</span></label>
                    <input type="text" name="categoria" id="categoria" required>
                    <p hidden id="valorCategoria" class="error_message"></p>
                </div>
                

                <div>
                    <button class="button_reset" type="reset">Limpiar</button>
                    <button id="submit_click_categoria" class="button_submit" type="submit">Registrar</button>
                </div>
        </fieldset>
    </form>

    <div class="nombre_alumno">
        <p>Sebastián Gaete Fuentes</p>
    </div>


    <script src="/assets/js/validaciones.js"></script>
</body>

</html>