<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <title>Tienda de Computación</title>
</head>

<body>

    <nav class="navbar">
        <div>
            <a href="/views/home.html"> <img class="logo" src="/assets/img/logo.png" alt="ícono tienda"> </a>
        </div>
        <div>
            <ul class="navbar_list">
                <li>
                    <a href="/backend/views/categorias.html">Alta de categorias</a>
                </li>
                <li>
                    <a href="/backend/views/productos.html">Alta de productos</a>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        <div class="hero">
            <div class="container_hero">
                <h1 class="title_hero">Tienda de Computación</h1>
            </div>
        </div>
    </section>
</body>

</html>